
<div class = "card mx-auto">
    <div class="card-header text-center">
      <h5 style="color: rgb(37, 33, 33);" >Crear Cuenta</h5>
    </div>
    
    <form  action="/cargar-articulo">
        <div class="card-body">
            <div class="entrada mb-3">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" class="form-control" id="exampleInputtext"placeholder="Nombre completo">
              </div>
             
        <div class="entrada mb-3 mt-3" >
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo electronico">
          
        </div>
        <div class="entrada mb-3">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="tel" class="form-control" id="exampleInputnumer"placeholder="Teléfono/celular">
          </div>
        <div class="entrada mb-3">
            <i class="fa fa-key" aria-hidden="true"></i>
          <input type="password" class="form-control" id="exampleInputPassword1"placeholder="contraseña">
        </div>
        <div class="entrada mb-3">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <input type="password" class="form-control" id="exampleInputPassword2"placeholder=" repetir contraseña">
          </div>
        
        <button type="submit" class="btn btn-dark"onclick="alert('Registro completo');"routerLink="/login">Registrarme</button>
       
    </div>
      </form>
    </div>